<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function(){
            $('#btn').click(function(){
               stn_id=$('#stn_id option:selected').val();
               date1=$('#date1').val()
               date2=$('#date2').val()
               $.ajax({
                 url : '/gostn_id',
                 type : 'POST',
                 data : {stn_id:stn_id ,date1:date1, date2:date2},
                 dataType : 'json',
                 success : resultData,
                 error : function(){ alert("실패");   }
               });
             });

           $('#btn1').click(function(){
               p_countrycode=$('#p_countrycode option:selected').val();
               date3=$('#date3').val()
               date4=$('#date4').val()
               $.ajax({
                 url : '/go',
                 type : 'POST',
                 data : {p_countrycode:p_countrycode, date3:date3, date4:date4},
                 dataType : 'json',
                 success : resultData1,
                 error : function(){ alert("실패");   }
               });
             });

           $('#merge').click(function(){
               p_countrycode=$('#p_countrycode option:selected').val();
               $.ajax({
                 url : '/merge',
                 type : 'POST',
                 data : {p_countrycode:p_countrycode},
                 dataType : 'json',
                 success : resultData2,
                 error : function(){ alert("실패");   }
               });
             });
        });

      function resultData(data){
           var html='<table width="100%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">';
           html+="<tr align='center' bgcolor='skyblue'>";
           html+="<td>날짜</td>";
           html+="<td>평균기온</td>";
           html+="<td>최저기온</td>";
           html+="<td>최고기온</td>";
           html+="<td>강수량</td>";
           html+="</tr>";
           $.each(data, function(index, obj){
               html+="<tr align='center'>";
               html+="<td>"+obj.yyyy+"</td>";
               html+="<td>"+obj.AVG_TA+"</td>";
               html+="<td>"+obj.MIN_TA+"</td>";
               html+="<td>"+obj.MAX_TA+"</td>";
               html+="<td>"+obj.SUM_RN+"</td>";
               html+="</tr>";
            });
            html+="</table>";
            $('#tblList').empty();
            $('#tblList').append(html);
        }

        function resultData1(data){
           var html='<table width="50%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">';
           html+="<tr align='center' bgcolor='skyblue'>";
           html+="<td>날짜</td>";
           html+="<td>가격</td>";
           html+="</tr>";
           $.each(data, function(index, obj){
               html+="<tr align='center'>";
               html+="<td>"+obj.yyyy+"</td>";
               html+="<td>"+obj.price+"</td>";
               html+="</tr>";
            });
            html+="</table>";
            $('#tblList1').empty();
            $('#tblList1').append(html);
        }

       function resultData2(data){
           var html='<table width="100%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">';
           html+="<tr align='center' bgcolor='skyblue'>";
           html+="<td>날짜</td>";
           html+="<td>평균기온</td>";
           html+="<td>최저기온</td>";
           html+="<td>최고기온</td>";
           html+="<td>강수량</td>";
           html+="<td>가격</td>";
           html+="</tr>";
           $.each(data, function(index, obj){
               html+="<tr align='center'>";
               html+="<td>"+obj.yyyy+"</td>";
               html+="<td>"+obj.AVG_TA+"</td>";
               html+="<td>"+obj.MIN_TA+"</td>";
               html+="<td>"+obj.MAX_TA+"</td>";
               html+="<td>"+obj.SUM_RN+"</td>";
               html+="<td>"+obj.price+"</td>";
               html+="</tr>";
            });
            html+="</table>";
            $('#tblList').empty();
            $('#tblList').append(html);
        }

    </script>
</head>
<body>
  <table align="center">
  <tr align="center">
  <td colspan="3" bgcolor="skyblue" >
      <b>공공데이터활용 가격 예측 밎 물가 동향 비교분석 데이터 수집</b>
      주의사항<br>
      0. 현제부터 이전 7년 정도의 데이터를 수집합<br>
      2011-01-03(월) ~ 2019-06-21(금)
      1. 가격날짜 조회시 토요일,일요일을 시작으로 하지 말것<br>
      2. 가격데이터 제공(시작~2016.12.31까지 검색 / 2017.01.01~끝 까지 검색(2회로 나누어짐)<br>
      3. 날씨정보는 한페이지에 100개씩 제공되므로 페이지당 연속적으로 추출해야됨<br>
         (20171012년 서울의 날씨 제공데이터가 오류가 있음-정정하여 가져옴)<br>
  </td>
  </tr>
    <tr>
    <td>
    <select id="stn_id">
      <option selected>날씨정보(지역선택)</option>
      <option value="108">서울</option>
      <option value="159">부산</option>
      <option value="143">대구</option>
      <option value="112">인천</option>
      <option value="156">광주</option>
      <option value="133">대전</option>
      <option value="152">울산</option>
      <option value="119">수원</option>
      <option value="101">춘천</option>
      <option value="131">청주</option>
      <option value="146">전주</option>
      <option value="138">포항</option>
      <option value="184">제주</option>
      <option value="532">의정부</option>
      <option value="256">순천</option>
      <option value="136">안동</option>
      <option value="155">창원</option>
      <option value="549">용인</option>
  </select>
  <input type="date" id="date1">~<input type="date" id="date2">
  <input type="button" id="btn" value="클릭"/>
  </td>
  <td>
  <select id="p_countrycode">
      <option selected>가격정보(지역선택)</option>
      <option value="1101">서울</option>
      <option value="2100">부산</option>
      <option value="2200">대구</option>
      <option value="2300">인천</option>
      <option value="2401">광주</option>
      <option value="2501">대전</option>
      <option value="2601">울산</option>
      <option value="3111">수원</option>
      <option value="3211">춘천</option>
      <option value="3311">청주</option>
      <option value="3511">전주</option>
      <option value="3711">포항</option>
      <option value="3911">제주</option>
      <option value="3113">의정부</option>
      <option value="3613">순천</option>
      <option value="3714">안동</option>
      <option value="3814">창원</option>
      <option value="3145">용인</option>
  </select>
      <input type="date" id="date3">~<input type="date" id="date4">
      <input type="button" id="btn1" value="클릭"/>
  </td>
  <td>
  <input type="button" id="merge" value="병합(EXCEL/CSV)"/>
  </td>
  </tr>
  </table>
  <hr/>
  <table width="80%" cellpadding="5" cellspacing="0" border="0" align="center" style="border-collapse:collapse; border:0px gray solid;">
      <tr>
          <td valign="top"><div id="tblList"></div></td>
          <td valign="top"><div id="tblList1"></div></td>
      </tr>
  </table>
</body>
</html>